{
    "extends": [
        "airbnb",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:testing-library/react"
    ],
    "plugins": [
        "prettier",
        "react",
        "testing-library"
    ],
    "rules": {
        "prettier/prettier": ["error", { "endOfLine": "auto" }],
        "react/jsx-filename-extension":         [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent":                     [2, 4],
        "react/jsx-indent-props":               [2, 4],
        "react/jsx-one-expression-per-line":    [0],
        "react/prefer-stateless-function":      [1],
        "react/static-property-placement":      [1, "property assignment"],
        "react-hooks/rules-of-hooks":           "error",
        "react-hooks/exhaustive-deps":          "warn",
        "react/jsx-props-no-spreading": "off",
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2021,
    },
    "globals": {
        "document": true,
        "render":true,
        "describe": true,
        "expect":true,
        "it":true,
        "beforeEach":true,
        "test":true
    },
    "overrides": [
        {
            "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
            "extends": ["plugin:testing-library/react"]
        },
    ],
}